@media all and (max-width:  800px){
	body{
		background-image: url(./img/background-2.jpg);
		background-repeat: no-repeat;
	}

	button{
		margin-right: 30px;
	}

	#output{
		max-width: 100%;
	}

	.keyboard{
		max-width: 100%;
	}
}
