@media all and (max-width:  670px){
	body{
		background-image: url(./img/background-2.jpg);
		background-repeat: no-repeat;
	}

	button{
		margin-right: 30px;
	}

	#output{
		width: 100%;
	}

	.keyboard{
		width: 100%;
	}
}