/* jumbotron */

.jumbotron{
  padding-top: 5rem;
  /* background-image: url('img/background3.jpg'); */
  background-color: #d6e5ff;
}

#projects{
  background-color: #d6e5ff;
}

section{
  padding-top: 3rem;
}

#about{
  background-color: #c5ddf1;
}

#contact{
  background-color: #c5ddf1;
}
